.header {
  padding-top: 40px;
  padding-bottom: 40px;
}
.search {
  width: 100%;
  display: flex;
}

.search__input {
  width: 100%;
  padding: 10px 20px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border: 1px solid var(--color-azul);
  border-right: unset;
  font-size: 20px;
  line-height: 26px;
  outline: none;
}

.search__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 1px solid var(--color-azul);
  border-left: unset;
  cursor: pointer;
  outline: none;
}

.search__button svg {
  transition: transform 0.3s ease-in-out;
}

.search__button:hover svg,
.search__button:focus svg {
  transform: scale(1.2);
}

.search__icon {
  width: 24px;
  height: 24px;
  fill: var(--color-orchid);
}
