:root {
  --my-font: 'Open Sans', 'Arial', sans-serif;
  --my-font-size: 18px;
  --color-white: #ffffff;
  --color-black-txt: #000000;
  --color-grey: #868b8f;
  --color-azul: #e3eef0;
  --color-orchid: #b652d1;
  --color-ultraviolet: #b44ccf;
}
